@import '../../styles/main.scss';

.fd-input {
  display: flex;
  flex-direction: column;
  max-width: 16.75rem;
  &__input {
    @include input-base-styles;
    &:disabled {
      background-color: $gray-3;
      cursor: not-allowed;
    }
    &::placeholder {
      color: $gray-6;
    }
    &:focus {
      @include focus-styles;
    }
  }
  + .fd-input {
    margin-left: 0.5rem;
  }
}
