// BRAND
$brand-white: #ECF6FB;
$brand-xx-light: #C6E4F4;
$brand-x-light: #A0D3ED;
$brand-light: #7BC1E6;
$brand-medium: #55B0DF;
$brand-color: #309FD9;
$brand-hover: #2C91C6;
$brand-active: #2883B2;
$brand-dark: #1F668B;
$brand-x-dark: #164963;
$brand-xx-dark: #0E2C3C;
$brand-black: #050F14;
$brand-focus-outline: #3178C4;

// GRAYS
$black: #000;
$gray-01: #F9F9F9;
$gray-02: #F2F2F2;
$gray-03: #E5E5E5;
$gray-04: #D8D8D8;
$gray-05: #CCCCCC;
$gray-06: #BFBFBF;
$gray-07: #B2B2B2;
$gray-08: #A5A5A5;
$gray-09: #999999;
$gray-10: #8C8C8C;
$gray-11: #7F7F7F;
$gray-12: #727272;
$gray-13: #666666;
$gray-14: #595959;
$gray-15: #4C4C4C;
$gray-16: #3F3F3F;
$gray-17: #333333;
$gray-18: #262626;
$gray-19: #191919;
$gray-20: #0C0C0C;
$gray-21: #070707;
$white: #fff;

// REDS
$destructive: #E52810;
$destructive-hover: #D1250F;
$destructive-active: #BC210E;
$destructive-focus-outline: #691308;
