// COLORS
$brand-color: #309FD9;
$brand-hover: #2C91C6;
$brand-active: #2883B2;
$brand-focus-outline: #3178C4;
$destructive: #E52810;
$destructive-hover: #D1250F;
$destructive-active: #BC210E;
$destructive-focus-outline: #691308;
$gray-1: #F9F9F9;
$gray-2: #F2F2F2;
$gray-3: #E5E5E5;
$gray-4: #D8D8D8;
$gray-5: #CCCCCC;
$gray-6: #BFBFBF;
$gray-7: #B2B2B2;
$gray-8: #A5A5A5;
$gray-9: #999999;
$gray-10: #8C8C8C;
$gray-11: #7F7F7F;
$gray-12: #727272;
$gray-13: #666666;
$gray-14: #595959;
$gray-15: #4C4C4C;
$gray-16: #3F3F3F;
$gray-17: #333333;
$gray-18: #262626;
$gray-19: #191919;
$gray-20: #0C0C0C;
$gray-21: #070707;
$white: #fff;