// BRAND
$brand-white: #ECF6FB;
$brand-xx-light: #C6E4F4;
$brand-x-light: #A0D3ED;
$brand-light: #7BC1E6;
$brand-medium: #55B0DF;
$brand-color: #309FD9;
$brand-hover: #2C91C6;
$brand-active: #2883B2;
$brand-dark: #1F668B;
$brand-x-dark: #164963;
$brand-xx-dark: #0E2C3C;
$brand-black: #050F14;
$brand-focus-outline: #3178C4;

// GRAYS
$black: #000;
$gray-01: #F9F9F9;
$gray-02: #F2F2F2;
$gray-03: #E5E5E5;
$gray-04: #D8D8D8;
$gray-05: #CCCCCC;
$gray-06: #BFBFBF;
$gray-07: #B2B2B2;
$gray-08: #A5A5A5;
$gray-09: #999999;
$gray-10: #8C8C8C;
$gray-11: #7F7F7F;
$gray-12: #727272;
$gray-13: #666666;
$gray-14: #595959;
$gray-15: #4C4C4C;
$gray-16: #3F3F3F;
$gray-17: #333333;
$gray-18: #262626;
$gray-19: #191919;
$gray-20: #0C0C0C;
$gray-21: #070707;
$white: #fff;

// COOL GRAYS
$cool-gray-01: #B3D1F9;
$cool-gray-02: #AECAF2;
$cool-gray-03: #A5C0E5;
$cool-gray-04: #9CB5D8;
$cool-gray-05: #92AACC;
$cool-gray-06: #89A0BF;
$cool-gray-07: #8095B2;
$cool-gray-08: #778AA5;
$cool-gray-09: #6E8099;
$cool-gray-10: #64758C;
$cool-gray-11: #5B6A7F;
$cool-gray-12: #526072;
$cool-gray-13: #495566;
$cool-gray-14: #404A59;
$cool-gray-15: #37404C;
$cool-gray-16: #2D353F;
$cool-gray-17: #242A33;
$cool-gray-18: #1B2026;
$cool-gray-19: #121519;
$cool-gray-20: #090A0C;
$cool-gray-21: #050607;

// REDS
$destructive: #E52810;
$destructive-hover: #D1250F;
$destructive-active: #BC210E;
$destructive-focus-outline: #691308;
