@import './colors.scss';
@import './mixins.scss';

* {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  color: $cool-gray-19;
  font-size: 1rem;
  .fd-label {
    margin-bottom: 0.25rem;
    padding-left: 0.25rem;
    font-size: 0.75rem;
  }
}
