@import './colors.scss';
@import './mixins.scss';

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: $gray-16;
  .fd-label {
    margin-bottom: 0.25rem;
    padding-left: 0.25rem;
    font-size: 0.75rem;
  }
}
