// BRAND
// Colors
$brand-white: #ecf6fb !default;
$brand-xx-light: #c6e4f4 !default;
$brand-x-light: #a0d3ed !default;
$brand-light: #7bc1e6 !default;
$brand-medium: #55b0df !default;
$brand-color: #309fd9 !default;
$brand-hover: #2c91c6 !default;
$brand-active: #2883b2 !default;
$brand-dark: #1f668b !default;
$brand-x-dark: #164963 !default;
$brand-xx-dark: #0e2c3c !default;
$brand-black: #050f14 !default;
$brand-focus-outline: #3178c4 !default;

// Brand alpha colors
$brand-color-20: rgba(48, 159, 217, 0.2) !default;
$brand-color-40: rgba(48, 159, 217, 0.4) !default;
$brand-color-60: rgba(48, 159, 217, 0.6) !default;
$brand-color-80: rgba(48, 159, 217, 0.8) !default;

// GLASS BRAND
// Box
$glass-border: 1px solid rgba(255, 255, 255, 0.18) !default;

// Measurement
$glass-blur: 7px !default;
$glass-opacity: 0.25 !default;

// Glass Colors
$glass-main: rgba(255, 255, 255, $glass-opacity) !default;
$glass-brand-color: rgba(48, 159, 217, $glass-opacity) !default;
$glass-brand-hover: rgba(44, 145, 198, $glass-opacity) !default;
$glass-brand-active: rgba(40, 131, 178, $glass-opacity) !default;
$glass-disabled: rgba(229, 229, 229, $glass-opacity) !default;
$glass-shadow: rgba(31, 38, 135, 0.37) !default;
$glass-shadow-hover: rgba(31, 38, 135, 0.47) !default;
$glass-shadow-active: rgba(31, 38, 135, 0.57) !default;

// Background
$background-white: #fff !default;
$background-xx-light: #f2f2f2 !default; // gray-02
$background-x-light: #cccccc !default; // gray-05
$background-light: #a5a5a5 !default; // gray-08
$background: #7f7f7f !default; // gray-11
$background-dark: #595959 !default; // gray-14
$background-x-dark: #333333 !default; // gray-17
$background-xx-dark: #0c0c0c !default; // gray-20
$bacgkround-black: #000 !default;

// GRAYS
$background-white: #fff;
$gray-01: #f9f9f9;
$gray-02: #f2f2f2;
$gray-03: #e5e5e5;
$gray-04: #d8d8d8;
$gray-05: #cccccc;
$gray-06: #bfbfbf;
$gray-07: #b2b2b2;
$gray-08: #a5a5a5;
$gray-09: #999999;
$gray-10: #8c8c8c;
$gray-11: #7f7f7f;
$gray-12: #727272;
$gray-13: #666666;
$gray-14: #595959;
$gray-15: #4c4c4c;
$gray-16: #3f3f3f;
$gray-17: #333333;
$gray-18: #262626;
$gray-19: #191919;
$gray-20: #0c0c0c;
$gray-21: #070707;
$black: #000;

// COOL GRAYS
$cool-gray-01: #b3d1f9;
$cool-gray-02: #aecaf2;
$cool-gray-03: #a5c0e5;
$cool-gray-04: #9cb5d8;
$cool-gray-05: #92aacc;
$cool-gray-06: #89a0bf;
$cool-gray-07: #8095b2;
$cool-gray-08: #778aa5;
$cool-gray-09: #6e8099;
$cool-gray-10: #64758c;
$cool-gray-11: #5b6a7f;
$cool-gray-12: #526072;
$cool-gray-13: #495566;
$cool-gray-14: #404a59;
$cool-gray-15: #37404c;
$cool-gray-16: #2d353f;
$cool-gray-17: #242a33;
$cool-gray-18: #1b2026;
$cool-gray-19: #121519;
$cool-gray-20: #090a0c;
$cool-gray-21: #050607;

// REDS
$destructive: #e52810;
$destructive-hover: #d1250f;
$destructive-active: #bc210e;
$destructive-focus-outline: #691308;
