@import 'scss/main';

.uic-textarea {
  display: flex;
  flex-direction: column;
  &__label {
    color: #3e3e3c;
    font-size: 0.75rem;
    margin-bottom: 0.125rem;
    &-required::before {
      content: '*';
      margin-right: 0.125rem;
      color: #d4504c;
    }
  }
  &__field {
    min-height: 5rem;
    padding: 0.35rem 0.75rem 0;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-color: #fff;
    resize: vertical;
    &::placeholder {
      color: #878882;
    }
    &-error {
      border: 2px solid #d4504c;
    }
    &:disabled {
      background-color: $color-gray-5;
      border-color: $color-gray-6;
      cursor: not-allowed;
    }
  }
  &__message-container {
    display: flex;
    justify-content: space-between;
    height: 19px;
    font-size: 0.75rem;
  }
  &__error-message {
    color: #d4504c;
  }
  &__length-message {
    color: $color-gray-9;
    font-style: italic;
  }
}
