.uic-delete-drawer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem;
  /* Styles applied when closing */
  transition: width 0.2s ease-in-out 0.3s, height 0.2s ease-in-out 0.3s,
    padding 0.1s 0.4s;
  > * {
    max-height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    /* Styles applied when closing */
    transition: opacity 0.3s ease-in-out, max-height 0.1s 0.5s,
      padding 0.1s 0.5s, visibility 0.1s 0.5s;
  }
  &__top,
  &__bottom {
    height: 0;
    left: 0.75rem;
    right: 0.75rem;
    &-shown {
      height: 4rem;
      padding: 0.5rem;
      transition: height 0.2s ease-in-out;
      > * {
        max-height: 2rem;
        opacity: 1;
        visibility: visible;
        /* Styles applied when opening */
        transition: opacity 0.3s ease-in-out 0.2s;
      }
    }
  }
  &__right,
  &__left {
    width: 0rem;
    height: 35px;
    &-shown {
      width: 25rem;
      padding: 0 0.5rem;
      /* Styles applied when opening */
      transition: width 0.2s ease-in-out;
      > * {
        max-height: 2rem;
        opacity: 1;
        visibility: visible;
        /* Styles applied when opening */
        transition: opacity 0.3s ease-in-out 0.2s;
      }
    }
  }
  &__top {
    top: 0;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  &__right {
    right: -17px;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  &__bottom {
    bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  &__left {
    left: -17px;
    border-radius: 0 0.25rem 0.25rem 0;
  }
  &__confirmation-controls {
    display: flex;
    align-items: center;
  }
  &__button {
    height: 1.75rem;
    line-height: 1rem;
  }
}
