@import 'scss/main';

.uic-navigation-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 7rem;
  padding: 0.5rem 0 0 0;
  background-color: $royal-blue;
  /* Opening transition */
  transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
  &-mobile,
  &-small-mobile {
    justify-content: end;
    max-height: 8rem;
    padding: 1.5rem 0 1rem;
  }
  &-hidden {
    max-height: 0;
    padding: 0;
    /* Closing transition */
    transition: max-height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s;
  }
  &__progress {
    position: absolute;
    top: 0;
    opacity: 1;
    /* Opening transition */
    transition: opacity 0.2s ease-in-out 0.2s;
    &-hidden {
      opacity: 0;
      /* Closing transition */
      transition: opacity 0.2s ease-in-out;
    }
    > .uic-progress-bar {
      &__progress-container {
        margin-bottom: 0.25rem;
      }
      &__description-container {
        padding-right: unset;
        padding: 0 0.5rem;
        font-weight: 300;
      }
    }
    * .uic-progress-bar {
      &__fill-container {
        background-color: $medium-gray;
      }
      &__fill-container,
      &__fill {
        border-radius: 0;
      }
      &__description-right,
      &__description-left {
        color: $white;
      }
      &__description-left {
        padding-left: 0.25rem;
      }
      &__description-right {
        padding-right: 0.25rem;
      }
    }
  }
  &__button-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(5, 3rem);
    max-height: 6.625rem;
    max-width: 27rem;
    padding: 1.25rem 0 1rem;
    opacity: 1;
    /* Opening transition */
    transition: opacity 0.2s ease-in-out 0.2s, max-height 0.2s ease-in-out;
    &-mobile {
      gap: 1.5rem;
      grid-template-columns: repeat(5, 2.625rem);
    }
    &-small-mobile {
      gap: 1.25rem;
      grid-template-columns: repeat(5, 2.625rem);
    }
    &-hidden {
      max-height: 0;
      opacity: 0;
      /* Closing transition */
      transition: opacity 0.2s ease-in-out, max-height 0.2s ease-in-out 0.2s;
    }
    &-grid-four {
      grid-template-columns: repeat(4, 3rem);
    }
    &-grid-four.uic-navigation-controls__button-container-mobile,
    &-grid-four.uic-navigation-controls__button-container-small-mobile {
      grid-template-columns: repeat(4, 2.625rem);
    }
    &-grid-three {
      grid-template-columns: repeat(3, 3rem);
    }
    &-grid-three.uic-navigation-controls__button-container-mobile,
    &-grid-three.uic-navigation-controls__button-container-small-mobile {
      grid-template-columns: repeat(3, 2.625rem);
    }
  }
  &__button {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    &-hidden {
      opacity: 0;
    }
    &-logo-disabled {
      pointer-events: none;
    }
  }
}
