@import '../../styles/main';

.fd-checkbox {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    + .fd-checkbox__container {
      margin-top: 0.5rem;
    }
    &:hover > div[class='fd-checkbox__styled'] {
      background-color: $brand-xx-light;
    }
    &-disabled {
      cursor: not-allowed;
      > .fd-checkbox__styled,
      &:hover > div[class='fd-checkbox__styled'] {
        background-color: $gray-03;
      }
    }
  }
  &__input {
    // Hide checkbox visually but remain accessible to screen readers.
    // Source: https://polished.js.org/docs/#hidevisually
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    &:focus + .fd-checkbox__styled {
      @include focus-styles;
    }
  }
  &__styled {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border: 1px solid $gray-09;
    border-radius: 0.25rem;
    transition: 0.2s ease-in-out;
    &-checked {
      background-color: $brand-color;
      border-color: $brand-color;
    }
    &-disabled {
      border-color: $gray-09;
      > .fd-checkbox__icon {
        border-color: $gray-08;
      }
    }
  }
  &__icon {
    @include check-mark-animation(0.2rem, 0.5rem, 0.125rem);
  }
  &__other-container {
    position: relative;
    margin-right: 0.5rem;
  }
  &__other-input {
    position: relative;
    max-width: 16.75rem;
    margin-left: 0.5rem;
    border: none;
    border-bottom: 1px solid $gray-09;
    font-size: 0.825rem;
    transition: max-width 0.2s ease-in;
    &:focus {
      @include focus-styles;
    }
  }
  &__other-underline {
    position: absolute;
    right: 35%;
    bottom: -1px;
    left: 40%;
    height: 1px;
    background-color: $brand-color;
    opacity: 0;
    transition: 0.2s ease-in-out;
    &-selected {
      right: 0;
      left: 0.5rem;
      opacity: 1;
    }
  }
}
