// From Salesforce Lightning Design System
// https://www.lightningdesignsystem.com/design-tokens/

/// COLORS
$brand-accessible: #0070d2;
$brand-accessible-active: #005fb2;
$brand-background-dark: #195594;
$brand-header-contrast: #5e5e5e;
$brand-header-contrast-cool: #005583;
$brand-light: #f4f6fe;
$brand-light-active: #e3e5ed;
$brand-primary: #1589ee;
$brand-primary-transparent: rgba(21, 137, 238, 0.1);
$brand-primary-transparent-20: rgba(21, 137, 238, 0.2);
$brand-primary-transparent-40: rgba(21, 137, 238, 0.4);
$brand-text-link: #006dcc;
$card-color-border: #dddbda;
$color-background-alt-inverse: #16325c;
$color-background-error: #d4504c;
$color-background-destructive: #c23934;
$color-background-destructive-hover: #a61a14;
$color-background-destructive-active: #870500;
$color-background-inverse: #061c3f;
$color-background-success: #4bca81;
$color-background-warning: #ffb75d;
$color-brand: #1589ee;
$color-brand-dark: #0070d2;
$color-gray-2: #fafaf9;
$color-gray-3: #f3f2f2;
$color-gray-4: #ecebea;
$color-gray-5: #dddbda;
$color-gray-6: #c9c7c5;
$color-gray-7: #b0adab;
$color-gray-8: #969492;
$color-gray-9: #706e6b;
$color-gray-10: #514f4d;
$color-gray-11: #3e3e3c;
$color-gray-12: #2b2826;
$color-gray-13: #080707;
$color-text-destructive-hover: #a12b2b;
$white: #ffffff;

/// FONT WEIGHTS
$font-weight-light: 300;
$font-weight-bold: 700;

// Internal Variables

/// COLORS
//Conga Brand
$blue-harbor: #74bfd1;
$conga-red: #d2232a;
$dandelion: #ffd24f;
$royal-blue: #041b40;
$royal-blue-active: #04183A;
$royal-blue-hover: #062960;
$fandango: #b9509b;
$french-rose: #ed5f74;
$jade: #4cb888;
$oxford-blue: #19608f;
$plum: #565da5;
$tangerine: #ff9a21;

$cool-gray: #545861;
$warm-gray: #b8b8b8;
$medium-gray: #d8d8d8;
$light-gray: #f3f4f7;
$bright-gray: #f9f9fb;

// Legacy
// TODO: Weed out which colors are needed
$beige: #c7a06d;
$blue: #00b0df;
$brickRed: #d4504c;
$cerulean: #11b5d6;
$dark-purple: #391ce1;
$dark-purple-transparent-30: rgba(57, 28, 225, 0.3);
$icon-red: #d44511;
$light-blue: #e1effb;
$light-green: #9dd172;
$magenta: #bd10e0;
$orange: #f39e58;
$persian-green: #0FB093;
$pink: #f554b7;
$purple: #968af4;
$skyblue: #46a7fc;
$teal: #12d7b3;
$transparent: rgba(0, 0, 0, 0);
$toolbar-background-blue: #213556;
$yellow: #f8c930;

/// MEASUREMENTS
$global-header-height: 3.125rem;
